@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<h3>Entre em contato pelo endereço @ViewData["Email"]</h3>

<h3>@ViewBag.blablabla</h3>