@model BookStore.Models.Category

@{
    ViewData["Title"] = "Remover Categoria";
}

<h2>@ViewData["Title"]</h2>

<h4>Deseja remover a Categoria @Model.Name ?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <input type="submit" value="Sim" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Não</a>   
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listar Categorias</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}